/*GLOBAL*/
body {
    font-family: 'Roboto Regular';
    font-size: 14px;
    line-height: normal;
    color: #272727;
    line-height: 24px;
}

.wp-inner {
    width: 1170px;
    margin: 0px auto;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.7s;
}

.category-product-page .list-item a.thumb img {
    height: 200px;
    transform: scale(0.8);
    transition: 0.5s;
    /* opacity: 80%; */
}

#show-home-product img {

    height: 200px;


}

#show-home-product li {
    overflow: hidden;
}

#show-home-product img:hover {
    transform: scale(0.8);
    transition: 0.5s;
    opacity: 80%;
}

.disabled {
    pointer-events: none;
    opacity: 0.6;
}

#product-iphone {
    border-bottom: 1px solid #cac7c7;
    margin-bottom: 50px !important;
    padding-bottom: 20px;
}

#product-laptop img {
    height: auto !important;
}

.fl-left {
    float: left;
}

.fl-right {
    float: right;
}

#btn-top {
    position: fixed;
    bottom: 50px;
    right: 10px;
    cursor: pointer;
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
}

/*RESET BOOTSTRAP*/
ul li {
    list-style: none !important;
}

a {
    text-decoration: none !important;
}

.dropdown-menu {
    border-radius: 0;
    -webkit-box-shadow: 0 0px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0px 2px rgba(0, 0, 0, 0.15);
}

.dropdown .dropdown-toggle {
    background: none;
    border: none;
    outline: none;
}

.dropdown-menu>li>a {
    padding: 5px 20px;
    color: #2b2b2b;
    font-family: 'Roboto Regular';
}

.table-responsive {
    overflow-x: inherit;
}

.table-responsive p.alert {
    font-size: 30px;
    padding: 24px;
    text-align: center;
    font-family: monospace;
    margin: 50px 0px 300px 0px;
    color: rgb(2, 151, 124);
}

/*SLIDER*/
.owl-pagination {
    position: absolute;
    right: 45%;
    bottom: 2%;
}

.owl-theme .owl-controls .owl-page span {
    width: 10px;
    height: 10px;
    margin: 5px;
    opacity: 1;
    background: none;
    border: 1px solid #fff;
}

.owl-theme .owl-controls .owl-page.active span {
    background: #fff;
}

#slider .owl-page span {
    border: 1px solid #fff;
}

#slider .owl-page.active span {
    background: #333;
}

/*SOCIAL*/
iframe {
    width: 100% !important;
}

.fb-comments,
.fb-comments * {
    width: 100% !important;
}

.fb-comments {
    margin-top: 15px;
}

#social-wp .g-plusone-wp {
    display: inline-block;
    position: relative;
    top: 4px;
    left: 2px;
}

#cart-respon-wp,
#menu-respon,
#btn-respon {
    display: none;
}

/*ARROW*/
#feature-product-wp .owl-controls .owl-buttons div,
#same-category-wp .owl-controls .owl-buttons div {
    position: absolute;
    top: -40px;
    width: 20px;
    height: 20px;
    background: #d5d5d5;
    line-height: normal;
    opacity: 0.75;
}

#feature-product-wp .owl-controls .owl-buttons div:hover,
#same-category-wp .owl-controls .owl-buttons div:hover {
    background: #c0c0c0;
}

#feature-product-wp .owl-controls .owl-buttons div:before,
#same-category-wp .owl-controls .owl-buttons div:before {
    position: absolute;
    content: '\f104';
    font-family: 'Fontawesome';
    color: #333;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#feature-product-wp .owl-controls .owl-buttons div.owl-next:before,
#same-category-wp .owl-controls .owl-buttons div.owl-next:before {
    content: '\f105';
}

#feature-product-wp .owl-controls .owl-buttons div.owl-next,
#same-category-wp .owl-controls .owl-buttons div.owl-next {
    right: 0;
}

#feature-product-wp .owl-controls .owl-buttons div.owl-prev,
#same-category-wp .owl-controls .owl-buttons div.owl-prev {
    right: 25px;
}

.swal-button--catch {
    background-color: rgb(201, 0, 0);
}

.swal-button--cancel {
    background-color: rgb(0, 0, 0);
    color: white;
    border: none !important;
}

.swal-button--cancel:hover {
    background-color: rgb(87, 180, 123) !important;

}

.swal-modal {
    background: rgb(255, 255, 255);
}

.swal-button--catch:hover {
    background-color: rgb(235, 0, 0) !important;
}

/* TOAST MESSAGE */
#main-toast {
    position: fixed;
    top: 40px;
    right: 32px;
    z-index: 99999;
}

.toast {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    min-width: 400px;
    max-width: 500px;
    padding: 20px 0;
    border-left: 5px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    margin-bottom: 24px;
    transition: all linear 1s;
}

@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }

    25% {
        transform: translateX(100px);
    }

    50% {
        transform: translateX(10px);
    }

    75% {
        transform: translateX(-10px);

    }

    100% {
        opacity: 1;
        transform: translateX(10px);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateX(10px);
    }

    25% {
        transform: translateX(-10px);
    }

    50% {
        transform: translateX(10px);
    }

    75% {
        transform: translateX(100px);

    }

    100% {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
}

.toast-success {
    border-color: #21A67A !important;
}

.toast-success .toast-icon {
    color: #21A67A;
}

.toast-warning {
    border-color: #da9f33 !important;
}

.toast-warning .toast-icon {
    color: #da9f33;
}

.toast-error {
    border-color: #e93b3b !important;
}

.toast-error .toast-icon {
    color: #e93b3b;
}

.toast-icon {
    font-size: 24px;
    color: #21A67A;
}

.toast-msg {
    opacity: 60%;
    margin-top: 2px;
}

.toast-icon,
.toast-close {
    padding: 0 16px;
}

.toast-title {
    font-size: 16px;
    font-weight: bold;
}

.toast-body {
    flex-grow: 1;
}

.toast-close {
    font-size: 20px;
    color: #cacbcc;
}

.toast-close:hover {
    cursor: pointer;
    color: #9fa0a1;

}